spring:
  datasource:
{{- if (eq .Values.secretStore "db") }}
    url: {{ .Values.db.url }}/oesdb
    username: '{{ .Values.db.username }}'
    password: '{{ .Values.db.password }}'
{{- end }}

message-broker:
  enabled: true
  username: '{{ .Values.rabbitmq.username }}'
  password: '{{ .Values.rabbitmq.password }}'
  host: rabbitmq-service
  port: {{ .Values.rabbitmq.port }}
  endpoint:
    name: rabbitmq

standardErrorCodes:
  filePath: /opsmx/conf/standard-error-code.csv

secretManagement:
  source:
    config: {{ .Values.secretStore }}
  encryption: true
oes:
  rbac:
    enabled: {{ .Values.global.commonGate.spinnakerRBAC }}
  admin:
    user: admin
  platform:
    url: http://oes-platform:8095
  visibility:
    url: http://oes-visibility:8096
  auditservice:
    enabled: true
    url: "http://oes-audit-service:8097"
  auditclientservice:
    name: auditclient
    url: "http://oes-audit-client:8098"
  dashboard:
    url: http://oes-dashboard:8094
  {{- if .Values.global.commonGate.enabled }}
  commongateurl: http://oes-gate:8084
  {{- else }}
  commongateurl:
  {{- end }}
pipeline-promotion:
  github:
    {{ if eq .Values.spinnaker.gitopsHalyard.repo.type "git" }}
    enabled: true
    {{ else }}
    enabled: false
    {{ end }}
    {{- if .Values.global.gitea.enabled }}
    username:  {{ .Values.global.gitea.admin.username }}
    token: {{ .Values.global.gitea.admin.password }}
    branch: {{ .Values.spinnaker.gitopsHalyard.repo.halConfigBranch }}
    cloneUrl: http://{{ .Values.global.gitea.admin.username }}:{{ .Values.global.gitea.admin.password }}@{{ .Release.Name }}-gitea-http.{{ .Release.Namespace }}:3000/{{ .Values.global.gitea.admin.username }}/gitea-standard-repo
    {{- else }}
    username:  {{ .Values.spinnaker.gitopsHalyard.repo.username }}
    token: {{ .Values.spinnaker.gitopsHalyard.repo.token }}
    branch: {{ .Values.spinnaker.gitopsHalyard.repo.halConfigBranch }}
    cloneUrl: https://{{ .Values.spinnaker.gitopsHalyard.repo.username }}:{{ .Values.spinnaker.gitopsHalyard.repo.token }}@{{ .Values.spinnaker.gitopsHalyard.repo.baseUrlHostName }}/{{ .Values.spinnaker.gitopsHalyard.repo.organization }}/{{ .Values.spinnaker.gitopsHalyard.repo.repository }}
    {{- end }}
  bitbucket:
    {{ if eq .Values.spinnaker.gitopsHalyard.repo.type "stash" }}
    enabled: true
    {{ else }}
    enabled: false
    {{ end }}
    username:  {{ .Values.spinnaker.gitopsHalyard.repo.username }}
    token: {{ .Values.spinnaker.gitopsHalyard.repo.token }}
    branch: {{ .Values.spinnaker.gitopsHalyard.repo.halConfigBranch }}
    cloneUrl: https://{{ .Values.spinnaker.gitopsHalyard.repo.username }}:{{ .Values.spinnaker.gitopsHalyard.repo.token }}@{{ .Values.spinnaker.gitopsHalyard.repo.baseUrlHostName }}/{{ .Values.spinnaker.gitopsHalyard.repo.organization }}/{{ .Values.spinnaker.gitopsHalyard.repo.projectName }}/{{ .Values.spinnaker.gitopsHalyard.repo.repository }}
  amazonS3:
    {{ if eq .Values.spinnaker.gitopsHalyard.repo.type "s3" }}
    enabled: true
    {{ else }}
    enabled: false
    {{ end }}
    accessKeyId: {{ .Values.spinnaker.gitopsHalyard.repo.s3accesskey }}
    secretAccessKey: {{ .Values.spinnaker.gitopsHalyard.repo.s3secretkey }}
    region: {{ .Values.spinnaker.gitopsHalyard.repo.s3region }}
    bucketName: {{ .Values.spinnaker.gitopsHalyard.repo.s3bucket }}
spinnaker:
  restart:
    endPoint: /webhooks/webhook/restartSpinnaker
  encrypt:
    enabled: {{ .Values.global.sapor.config.encrypt.enabled }}
  sync:
    permission:
      enabled: {{ .Values.sapor.config.sync.permission.enabled }}

datasources:
  platform: {{ .Values.sapor.config.datasources.platform }}

## Set the below field to true if agent for kubernetes
kubernetes:
  kinds:
  omitKinds:
  - podPreset
  agent:
    enabled: {{ .Values.forwarder.enabled }}
    serverInternalHostName: opsmx-controller-controller1
    serverPort: 9003
    caCertfile: /opt/opsmx/controller/ca.crt
    certFile: /opt/opsmx/controller/cert/tls.crt
    keyFile: /opt/opsmx/controller/cert/tls.key
    image: {{ .Values.forwarder.agent.image }}
  template:
    path: /opt/opsmx/controller
    kubectlTemplateFileName: kubeconfig.template
    manifestTemplateFileName: deploy-agent.template
