{{ if or (eq .Values.installationMode "OES-AP")  (eq .Values.installationMode "EASY") }}
apiVersion: v1
data:
{{ (tpl (.Files.Glob "config/oes-ui/app-config.json").AsConfig . ) | indent 2 }}
{{ (tpl (.Files.Glob "config/oes-ui/help-text.json").AsConfig . ) | indent 2 }}
kind: ConfigMap
metadata:
  name: oes-ui-config
  labels:
    app: oes
    component: ui
{{ include "oes.standard-labels" . | indent 4 }}
{{ end }}
