{{- if .Values.global.preDeleteHelmHooks }}
apiVersion: batch/v1
kind: Job
metadata:
  name: "oes-cleanup"
  labels:
{{ include "oes.standard-labels" . | indent 4 }}
  annotations:
    "helm.sh/hook": "pre-delete"
    "helm.sh/hook-delete-policy": "before-hook-creation"
spec:
  template:
    metadata:
      labels:
{{ include "oes.standard-labels" . | indent 8 }}
    spec:
      restartPolicy: OnFailure
      containers:
      - name: oes-cleanup
        image: {{ .Values.spinnaker.halyard.image.repository }}:{{ .Values.spinnaker.halyard.image.tag }}
        command: ["/bin/bash","-c"]
{{- if .Values.global.certManager.installed }}
        args: ["kubectl delete issuer --ignore-not-found letsencrypt-{{ .Release.Namespace }}-spin; kubectl delete ingress --ignore-not-found oes-gate-ingress oes-ui-ingress {{ template "spinnaker.fullname" . }}-deck; kubectl delete secret --ignore-not-found ca-secret spin-deck-ingress demo-authtls jwt-secret oes-cacerts oes-control-secret oes-gate-ingress oes-ui-ingress"]
{{- else }}
        args: ["kubectl delete ingress --ignore-not-found oes-gate-ingress oes-ui-ingress {{ template "spinnaker.fullname" . }}-deck; kubectl delete secret --ignore-not-found ca-secret jwt-secret oes-cacerts oes-control-secret"]
{{- end }}
      {{- if .Values.global.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.global.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.global.affinity }}
      affinity:
{{ toYaml .Values.global.affinity | indent 8 }}
      {{- end }}
      {{- if .Values.global.tolerations }}
      tolerations:
{{ toYaml .Values.global.tolerations | indent 8 }}
      {{- end }}
      {{- if and (.Values.global.openshift) (not .Values.global.securityContext) }}
      securityContext: {{ default "{}" }}
      {{- else }}
      {{- if and (.Values.global.openshift) (.Values.global.securityContext) }}
      securityContext:
{{ toYaml .Values.global.securityContext | indent 8 }}
      {{- else }}
      {{- if and (not .Values.global.openshift) (.Values.global.securityContext) }}
      securityContext:
{{ toYaml .Values.global.securityContext | indent 8 }}
      {{- end }}
      {{- end }}
      {{- end }}
{{- end }}

