dependencies:
  - name: openldap
    version: 1.2.1
    repository: https://kubernetes-charts.storage.googleapis.com/
    condition: installOpenLdap
  - name: spinnaker
    version: ~2.2.1
    repository: https://kubernetes-charts.storage.googleapis.com/
    condition: installSpinnaker
  - name: redis
    version: 10.5.3
    condition: installRedis
  - name: elasticsearch
    version: 7.5.0
    condition: enableCentralLogging
  - name: kibana
    version: 7.5.0
    condition: enableCentralLogging
  - name: fluent-bit
    version: ^1.9.0
    repository: https://kubernetes-charts.storage.googleapis.com/
    condition: enableCentralLogging
  - name: prometheus
    version: 11.16.2
    condition: spinnaker.enableCentralMonitoring
