## Quay container image registry credentials to create imagePullSecret
##
imageCredentials:
  username: quayID  # Quay username
  password: quayPassword # Quay password
  email: info@opsmx.com   # email corresponding to quay registry ID
  
## Declare all the global variables under this
## Global variables can be accessed across all the charts including sub-charts
global:
  # Spinnaker Deck URL configuration; url overwhich spinnaker deck will be accessed
  spinDeck:
    host: spin.abhi.ops.com

  # Spinnaker Gate URL configuration; url overwhich spinnaker gate will be accessed
  spinGate:
    host: spin-gate.example.ops.com

## OES-UI url configuration
oesUI:
  host: oes.example.ops.com

## OES-Gate url configuration
oesGate:
  host: oes-gate.example.ops.com

spinnaker:
  # Initialize gitOps style Halyard
  gitopsHalyard:
    enabled: true
    repo:
      type: stash # git, S3, stash, only git support at this point
      baseUrlHostName: bbdev.opsmx.com    #  https://bbdev.opsmx.com/scm/ksrin/test38.git
      organization: scm                   #  https://bbdev.opsmx.com/scm/ksrin/test38.git
      projectName: ksrin                  #  https://bbdev.opsmx.com/scm/ksrin/test38.git
      repository: test38                  #  https://bbdev.opsmx.com/scm/ksrin/test38.git
      dynamicAccRepository: test38        #  https://bbdev.opsmx.com/scm/ksrin/test38.git
      username: <user name>               # Authenticating User-Name
      token:  <password>                  # Authenticating password
    secretName: opsmx-gitops-auth
    # Promote applications and pipelines from one environment to another or take backup
    pipelinePromotion:
      enabled: true
      baseURL: https://bbdev.opsmx.com
      organization: scm
      projectName: ksrin
      repository: test38
      dynamicAccRepository: test38
      halConfigPath: / # Any other value is currently not supported
      username: <user name>               # Authenticating User-Name
      token:  <password>                  # Authenticating password
      executionNamespace: default   # Do not change
      executionAccountName: default # Do not change

  ## Auth mechanism and credentials to be used by spin-cli for creating the sample pipelines
  ## Here basic ldap auth is used by default; everything under spinCli will be pasted in ~/.spin/config
  spinCli:
    gate:
      endpoint: http://spin-gate:8084 # Should same as the spin-gate URL
    auth:
      enabled: true
      basic:
        username: admin          # Please updated as required
        password: opsmxadmin123  # Please updated as required
