{{- if (eq .Values.secretStore "db") }}
spring:
  datasource:
    url: {{ .Values.db.url }}/platformdb
    username: {{ .Values.db.username }}
    password: {{ .Values.db.password }}
ldap.managerPassword: {{ .Values.global.ldap.managerPassword }}
redis:
    connection: {{ tpl .Values.redis.url . }}
#datasource.url: {{ .Values.db.url }}/visibilitydb
#postgres.password: {{ .Values.db.password }}
#postgres.username: {{ .Values.db.username }}
{{- end }}

datasource:
  secretManagement:
    source: {{ .Values.secretStore }}
rbacEnabled: {{ .Values.rbac.create }}
supportedFeatures:
{{ toYaml .Values.platform.config.supportedFeatures | indent 2 }}
userGroup:
  superAdminGroups: {{ .Values.platform.config.adminGroups }}
user:
  {{- if .Values.gate.config.saml.enabled }}
  source: {{ .Values.gate.config.saml.userSource }}
  {{- else }}
  source: {{ .Values.platform.config.userSource }}
  {{- end }}
ldap:
  enabled: {{ .Values.global.ldap.enabled }}
  url: {{ tpl .Values.global.ldap.url . }}
  managerDn: {{ .Values.global.ldap.managerDn }}
  groupSearchBase: {{ .Values.global.ldap.groupSearchBase }}
  groupSearchFilter: {{ .Values.global.ldap.groupSearchFilter }}
  groupRoleAttributes: {{ .Values.global.ldap.groupRoleAttributes }}
  userDnPattern: {{ .Values.global.ldap.userDnPattern }}

oes:
  sapor:
    url: http://oes-sapor:8085
  autopilot:
    url: http://oes-autopilot:8090
  visibility:
    url: http://oes-visibility:8096
  approvalGate:
{{- if .Values.oesGate.port }}
    apiUrl: {{ .Values.oesGate.protocol }}://{{ .Values.oesGate.host }}:{{ .Values.oesGate.port }}/visibilityservice/v5/approvalGates/{id}/trigger
{{- else }}
    apiUrl: {{ .Values.oesGate.protocol }}://{{ .Values.oesGate.host }}/visibilityservice/v5/approvalGates/{id}/trigger
{{- end }}

  verificationGate:
{{- if .Values.oesGate.port }}
    apiUrl: {{ .Values.oesGate.protocol }}://{{ .Values.oesGate.host }}:{{ .Values.oesGate.port }}/autopilot/api/v3/registerCanary
{{- else }}
    apiUrl: {{ .Values.oesGate.protocol }}://{{ .Values.oesGate.host }}/autopilot/api/v3/registerCanary
{{- end }}

logging:
  level:
    com.opsmx.platformservice: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

