{{- if (eq .Values.secretStore "db") }}
spring:
  datasource:
    url: {{ .Values.db.url }}/platformdb
    username: '{{ .Values.db.username }}'
    password: '{{ .Values.db.password }}'
ldap.managerPassword: '{{ .Values.global.ldap.managerPassword }}'
redis:
    connection: {{ template "spinnaker.redisBaseURL" . }}
#datasource.url: {{ .Values.db.url }}/visibilitydb
#postgres.password: '{{ .Values.db.password }}'
#postgres.username: '{{ .Values.db.username }}'
{{- end }}

datasource:
  secretManagement:
    source: {{ .Values.secretStore }}
  httpClient:
    connectTimeout: 10000
    connectionRequestTimeout: 10000
    socketTimeout: 10000
rbacEnabled: {{ .Values.global.commonGate.spinnakerRBAC }}
supportedFeatures:
{{ toYaml .Values.platform.config.supportedFeatures | indent 2 }}
userGroup:
  superAdminGroups: {{ .Values.global.saporgate.config.adminGroups }}
user:
  {{- if .Values.gate.config.saml.enabled }}
  source: {{ .Values.gate.config.saml.userSource }}
  {{- else }}
  source: {{ .Values.platform.config.userSource }}
  {{- end }}
ldap:
  enabled: {{ .Values.global.ldap.enabled }}
  url: {{ tpl .Values.global.ldap.url . }}
  managerDn: {{ .Values.global.ldap.managerDn }}
  groupSearchBase: {{ .Values.global.ldap.groupSearchBase }}
  groupSearchFilter: {{ .Values.global.ldap.groupSearchFilter }}
  groupRoleAttributes: {{ .Values.global.ldap.groupRoleAttributes }}
  userDnPattern: {{ .Values.global.ldap.userDnPattern }}
dashboard:
  scheduler:
    enable: false
    fixedDelay:
      in:
        milliseconds: 120000
    initialDelay:
      in:
        milliseconds: 300000
    workerThreads: 50
database:
  cleanup:
    scheduler:
      enabled: {{ .Values.dbcleanup.enabled }}
      daysInterval: {{ .Values.dbcleanup.daysinterval }}
      cron: 0 0 0 * * *
oes:
  sapor:
    url: http://oes-sapor:8085
  autopilot:
    url: http://oes-autopilot:8090
  dashboard:
    url: http://oes-dashboard:8094
  visibility:
    url: http://oes-visibility:8096
  auditclient:
    url: http://oes-audit-client:8098
  policyGate:
    url: http://oes-gate:8084
    path: /v1/data/
  auditservice:
    url: "http://oes-audit-service:8097"
  ui:
  # Ex: "https://oes-poc.dev.opsmx.org/"
    url: "{{ .Values.global.oesUI.protocol }}://{{ .Values.global.oesUI.host }}/ui"
  gate:
    url: http://oes-gate:8084
  approvalGate:
    apiUrl: http://oes-gate:8084/visibilityservice/v5/approvalGates/{id}/trigger

  verificationGate:
    apiUrl: http://oes-gate:8084/autopilot/api/v3/registerCanary

logging:
  level:
    com.opsmx.platformservice: INFO
    org.springframework.security: INFO
    org.springframework.web: INFO

standardErrorCodes:
  filePath: /opsmx/conf/standard-error-code.csv
