apiVersion: v1
kind: Service
metadata:
  labels:
    app: oes
  name: oes
spec:
  type: {{ .Values.k8sServiceType }}
  ports:
  - name: "cas-service"
    port: 8090
    targetPort: 8090
  - name: "http"
    port: 8161
    targetPort: 8161
  - name: "monitoring-service"
    port: 9090
    targetPort: 9090
  - name: "audit-service"
    port: 8050
    targetPort: 8050
  selector:
    app: oes
