apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-lib-postgresql
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.OESDBMountSize }}

