{{- if or (eq .Values.installationMode "OES-AP") (eq .Values.installationMode "AP") (eq .Values.installationMode "OES") -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: oes
    component: gate
{{ include "oes.standard-labels" . | indent 4 }}
  name: oes-gate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oes
      component: gate
  template:
    metadata:
      annotations:
        configmap/checksum: {{ (.Files.Glob "config/oes-gate/gate.yml").AsConfig | sha256sum }}
      labels:
        app: oes
        component: gate
{{ include "oes.standard-labels" . | indent 8 }}
    spec:
      {{- if .Values.autoConfiguration.enabled }}
      initContainers:
      - env:
        - name: EXTERNAL_IP_CHECK_DELAY
          value: "{{ .Values.autoConfiguration.initContainer.externalIpCheckDelay}}"
        image: {{ .Values.autoConfiguration.initContainer.image}}
        imagePullPolicy: {{ .Values.autoConfiguration.initContainer.pullPolicy}}
        name: gate-autoconfig
        command: ["/home/config_endpoint.sh"]
        args: ["oes-gate"]
        volumeMounts:
        - mountPath: /config/gate.yml
          name: config-temp
          subPath: gate.yml
        - mountPath: /opt/spinnaker/config
          name: gate-volume
      {{- end }}
      containers:
      - image: {{ template "gate.image" . }}
        name: oes-gate
        ports:
        - containerPort: 8084
          protocol: TCP
        resources:
{{ toYaml .Values.gate.resources | indent 12 }}
        volumeMounts:
        - name: gate-volume
          mountPath: /opt/spinnaker/config
        readinessProbe:
          tcpSocket:
            port: 8084
          initialDelaySeconds: 120
          periodSeconds: 30
        livenessProbe:
          httpGet:
            path: /health
            port: 8084
          initialDelaySeconds: 120
          periodSeconds: 60
      imagePullSecrets:
      - name: {{ .Values.imagePullSecret}}
      volumes:
      {{- if .Values.autoConfiguration.enabled }}
      - configMap:
          name: oes-gate-config
        name: config-temp
      - emptyDir: {}
        name: gate-volume
      {{- else }}
      - name: gate-volume
        configMap:
          name: oes-gate-config
      {{- end }}
{{- end -}}
