{{- if or (eq .Values.installationMode "OES-AP")  (eq .Values.installationMode "EASY") -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
{{ include "isd.standard-annotations" . | indent 4 }}
  labels:
    app: oes
    component: ui
{{ include "oes.standard-labels" . | indent 4 }}
  name: oes-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oes
      component: ui
  template:
    metadata:
      annotations:
        checksum/configmap: {{ (.Files.Glob "config/oes-ui/app-config.json").AsConfig | sha256sum }}
{{- if .Values.ui.annotations -}}
        {{ toYaml .Values.ui.annotations | nindent 8 }}
{{- end }}
      labels:
        app: oes
        component: ui
{{ include "oes.standard-labels" . | indent 8 }}
    spec:
      {{- if .Values.global.autoConfiguration.enabled }}
      initContainers:
      - env:
        - name: EXTERNAL_IP_CHECK_DELAY
          value: "{{ .Values.global.autoConfiguration.initContainer.externalIpCheckDelay}}"
        image: {{ .Values.global.autoConfiguration.initContainer.image}}
        imagePullPolicy: {{ .Values.global.autoConfiguration.initContainer.pullPolicy}}
        name: ui-autoconfig
        command: ["/home/config_endpoint.sh"]
        args: ["oes-ui"]
        volumeMounts:
        - mountPath: /config/app-config.json
          name: config-temp
          subPath: app-config.json
        - mountPath: /var/www/html/assets/config
          name: config-dir
      {{- end }}
      containers:
      - image: {{ template "ui.image" . }}
        name: oes-ui
        env:
       {{- if .Values.extraEnvVars }}
       {{- include "tplvalues.render" (dict "value" .Values.extraEnvVars "context" $) | nindent 8 }}
       {{- end }}
        ports:
        - containerPort: 8080
          protocol: TCP
        volumeMounts:
        - name: config-dir
          mountPath: /var/www/html/ui/assets/config/app-config.json
          subPath: app-config.json
        - name: config-dir
          mountPath: /var/www/html/ui/assets/config/help-text.json
          subPath: help-text.json
        - mountPath: /etc/nginx/nginx.conf
          name: nginx-config
          {{- if and (.Values.installSpinnaker) (not .Values.global.gitea.enabled) }}
          subPath: nginx.conf
          {{- else if and (.Values.global.gitea.enabled) (.Values.installSpinnaker) }}
          subPath: nginx-quick-install.conf
          {{- else }}
          subPath: nginx-ap-only.conf
          {{- end }}
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /ui/indexl.html
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 5
      {{- if .Values.imagePullSecret}}
      imagePullSecrets:
      - name: {{ .Values.imagePullSecret}}
      {{- end }}
      {{- if and (.Values.global.openshift) (not .Values.global.securityContext) }}
      securityContext: {{ default "{}" }}
      {{- else }}
      {{- if and (.Values.global.openshift) (.Values.global.securityContext) }}
      securityContext:
{{ toYaml .Values.global.securityContext | indent 8 }}
      {{- else }}
      {{- if and (not .Values.global.openshift) (.Values.global.securityContext) }}
      securityContext:
{{ toYaml .Values.global.securityContext | indent 8 }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- if .Values.global.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.global.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.global.affinity }}
      affinity:
{{ toYaml .Values.global.affinity | indent 8 }}
      {{- end }}
      {{- if .Values.global.tolerations }}
      tolerations:
{{ toYaml .Values.global.tolerations | indent 8 }}
      {{- end }}
      volumes:
      {{- if .Values.global.autoConfiguration.enabled }}
      - configMap:
          defaultMode: 420
          name: oes-ui-config
        name: config-temp
      - emptyDir: {}
        name: config-dir
      {{- else }}
      - configMap:
          defaultMode: 420
          name: oes-ui-config
        name: config-dir
      {{- end }}
      - configMap:
          defaultMode: 420
          name: oes-ui-nginxconf
        name: nginx-config
{{- end -}}
