{{- if and (.Values.installSpinnaker) (.Values.spinnaker.gitopsHalyard.pipelinePromotion.enabled) }}
apiVersion: v1
stringData:
  # Git token to access repo where pipeline stuff is stored
  git_secret_token: {{ .Values.spinnaker.gitopsHalyard.pipelinePromotion.token }}
  git_secret_sshkey: ""
{{- if .Values.spinnaker.gitopsHalyard.pipelinePromotion.approverToken }}
  git_pr_token: {{ .Values.spinnaker.gitopsHalyard.pipelinePromotion.approverToken }}
{{- end }}
kind: Secret
metadata:
  name: git-token
type: Opaque
{{- end }}
