{{- if .Values.installSpinnaker }}
{{- if or (.Values.spinnaker.gitopsHalyard.pipelinePromotion.enabled) (.Values.global.gitea.enabled) }}
apiVersion: v1
stringData:
  # Spin CLI config content used by syncToGit stage
  # It is placed under ~/.spin/config
  # custom job stage runs a spin cli and fetches the application/pipeline data
  # gate endpoint should point to the spinnaker from where application/pipeline data is fetched
  config: |-
{{ toYaml .Values.spinnaker.spinCli | indent 4 }}
kind: Secret
metadata:
  name: spin-cli-config
{{- end }}
{{- end }}
