ok-http-client:
  interceptor:
    skipHeaderCheck: true
retrofit:
  connectTimeout: 60000
  readTimeout: 60000
  callTimeout: 60000
  writeTimeout: 60000
  retryOnConnectionFailure: true
services:
  opsmx:
    baseUrl: http://oes-sapor:8085
    enabled: true
  autopilot:
    baseUrl: http://oes-autopilot:8090
    enabled: true
  platform:
    baseUrl: http://oes-platform:8095
    userGroupApiPath: /platformservice/v1/users/{username}/usergroups/importAndCache
    enabled: true
  dashboard:
    baseUrl: http://oes-dashboard:8094
    enabled: true
  visibility:
    baseUrl: http://oes-visibility:8096
    enabled: true
  auditservice:
     baseUrl: "http://oes-audit-service:8097"
     enabled: true
  auditclient:
     baseUrl: "http://oes-audit-client:8098"
     enabled: true
  oesui:
    {{- if and .Values.global.spinnakerUrl .Values.global.bookmarkISDUrl }}
    externalUrl: {{ .Values.global.spinDeck.protocol }}://{{ .Values.global.spinDeck.host }}
    {{- else }}
    externalUrl: /ui/
    {{- end }}
{{- if .Values.global.commonGate.enabled }}
  keel:
    enabled: false
  clouddriver:
    host: 0.0.0.0
    port: 7002
    {{- if .Values.global.stormdriver }}
    baseUrl: http://stormdriver:7002
    enabled: true
    {{- else }}
    baseUrl: http://spin-clouddriver-ro:7002
    enabled: true
    {{- end }}
  clouddriverCaching:
    host: 0.0.0.0
    port: 7002
    baseUrl: http://spin-clouddriver-caching:7002
    {{- if .Values.global.stormdriver }}
    enabled: false
    {{- else }}
    enabled: true
    {{- end }}
  clouddriverRo:
    host: 0.0.0.0
    port: 7002
    baseUrl: http://spin-clouddriver-ro:7002
    {{- if .Values.global.stormdriver }}
    enabled: false
    {{- else }}
    enabled: true
    {{- end }}
  clouddriverRoDeck:
    host: 0.0.0.0
    port: 7002
    baseUrl: http://spin-clouddriver-ro-deck:7002
    {{- if .Values.global.stormdriver }}
    enabled: false
    {{- else }}
    enabled: true
    {{- end }}
  clouddriverRw:
    host: 0.0.0.0
    port: 7002
    baseUrl: http://spin-clouddriver-rw:7002
    {{- if .Values.global.stormdriver }}
    enabled: false
    {{- else }}
    enabled: true
    {{- end }}
  deck:
    host: 0.0.0.0
    port: 9000
    {{- if .Values.global.spinnakerUrl }}
    baseUrl: {{ .Values.global.spinDeck.protocol }}://{{ .Values.global.spinDeck.host }}
    {{- else }}
    baseUrl: {{ .Values.global.oesUI.protocol }}://{{ .Values.global.oesUI.host }}
    {{- end }}
    enabled: true
  echo:
    host: 0.0.0.0
    port: 8089
    {{- if .Values.global.stormdriver }}
    baseUrl: http://spin-echo:8089
    enabled: true
    {{- else }}
    baseUrl: http://spin-echo-worker:8089
    enabled: true
    {{- end }}
  echoScheduler:
    host: 0.0.0.0
    port: 8089
    baseUrl: http://spin-echo-scheduler:8089
    {{- if .Values.global.stormdriver }}
    enabled: false
    {{- else }}
    enabled: true
    {{- end }}
  echoWorker:
    host: 0.0.0.0
    port: 8089
    baseUrl: http://spin-echo-worker:8089
    {{- if .Values.global.stormdriver }}
    enabled: false
    {{- else }}
    enabled: true
    {{- end }}
  fiat:
    host: 0.0.0.0
    port: 7003
    baseUrl: http://spin-fiat:7003
    {{- if .Values.global.commonGate.spinnakerRBAC }}
    enabled: true
    {{- else }}
    enabled: false
    {{- end }}
  front50:
    host: 0.0.0.0
    port: 8080
    baseUrl: http://spin-front50:8080
    enabled: true
  gate:
    host: 0.0.0.0
    port: 8084
    {{- if .Values.global.oesGate.port }}
    baseUrl: {{ .Values.global.oesGate.protocol }}://{{ .Values.global.oesGate.host }}:{{ .Values.global.oesGate.port }}
    {{- else }}
    baseUrl: {{ .Values.global.oesGate.protocol }}://{{ .Values.global.oesGate.host }}
    {{- end }}
    enabled: true
  igor:
    host: 0.0.0.0
    port: 8088
    baseUrl: http://spin-igor:8088
    enabled: true
  kayenta:
    host: 0.0.0.0
    port: 8090
    baseUrl: http://spin-kayenta:8090
    {{- if .Values.global.commonGate.spinnakerKayanta }}
    enabled: true
    {{- else }}
    enabled: false
    {{- end }}
  orca:
    host: 0.0.0.0
    port: 8083
    baseUrl: http://spin-orca:8083
    enabled: true
  redis:
    host: 0.0.0.0
    port: {{ .Values.redis.port }}
    baseUrl: {{ template "spinnaker.redisBaseURL" . }}
    enabled: true
  rosco:
    host: 0.0.0.0
    port: 8087
    baseUrl: http://spin-rosco:8087
    enabled: true
{{- end }}
user: {}
cors:
  {{- if .Values.global.commonGate.enabled }}
  allowed-origins-pattern: ^https?://(?:localhost|{{ .Values.global.oesUI.host }}|{{ .Values.global.spinDeck.host }}|opsmx.com)(?::[1-9]\d*)?/?
  {{ else }}
  allowed-origins-pattern: ^https?://(?:localhost|{{ .Values.global.oesUI.host }}|opsmx.com)(?::[1-9]\d*)?/?
  {{- end }}
ldap:
{{- if .Values.global.installOpenLdap }}
  enabled: true
  url: ldap://{{ .Release.Name }}-openldap:389
  managerDn: cn=admin,dc=example,dc=org
  managerPassword: opsmxadmin123
  groupSearchBase: ou=groups,dc=example,dc=org
  groupSearchFilter: member={0}
  groupRoleAttributes: cn
  userDnPattern: cn={0},dc=example,dc=org
{{ else }}
{{- if .Values.global.ldap.enabled }}
{{ toYaml .Values.global.ldap | indent 2 }}
{{ else }}
  enabled: false
{{- end }}
{{- end }}
{{- if .Values.gate.config.saml.enabled }}
pipeline:
  rbac: {{ .Values.global.commonGate.spinnakerpipelineRBAC }}
security:
  contentSecurityPolicy: "object-src 'none'; script-src 'unsafe-eval' 'unsafe-inline' https: http:;"
  basic:
    enabled: true
user: {}

saml:
{{ toYaml .Values.gate.config.saml | indent 2 }}
{{- end }}
{{- if .Values.gate.config.oauth2.enabled }}
security:
  contentSecurityPolicy: "object-src 'none'; script-src 'unsafe-eval' 'unsafe-inline' https: http:;"
  basic:
    enabled: true
  user: {}
  oauth2:
{{ toYaml .Values.gate.config.oauth2 | indent 4 }}
{{- end }}
file:
  enabled: {{ .Values.gate.config.fileBasedAuthentication.enabled }}
  url: /platformservice/v1/users/authenticate
authn:
  mode: session
google: {}
redis:
  connection: {{ template "spinnaker.redisBaseURL" . }}
{{- if not .Values.installRedis }}
  configuration:
    secure: true
{{- end }}
server:
  session:
    timeoutInSeconds: {{ .Values.gate.config.server.session.timeoutInSeconds }}
  tomcat:
    httpsServerPort: X-Forwarded-Port
    internalProxies: .*
    protocolHeader: X-Forwarded-Proto
    remoteIpHeader: X-Forwarded-For
gate:
  installation:
    {{- if .Values.global.commonGate.enabled }}
    mode: common    #Allowed values are --> oes,common
    {{- else }}
    mode: oes
    {{- end }}
rbac:
  feature:
    application:
      enabled: {{ .Values.global.commonGate.spinnakerRBAC }}

{{- if or (.Values.global.installOpenLdap) (.Values.global.ldap.enabled) }}
security:
  contentSecurityPolicy: "object-src 'none'; script-src 'unsafe-eval' 'unsafe-inline' https: http:;"
{{- end }}

{{- if .Values.global.commonGate.enabled }}
spinnaker:
  extensibility:
    plugins:
    deck-proxy:
      enabled: true
      plugins:
        Opsmx.VerificationGatePlugin:
          enabled: true
          version: 1.0.1
        Opsmx.TestVerificationGatePlugin:
          enabled: true
          version: 1.0.1
        Opsmx.PolicyGatePlugin:
          enabled: true
          version: 1.0.1
        Opsmx.VisibilityApprovalPlugin:
          enabled: true
          version: 1.0.1
    repositories:
        opsmx-repo:
          url: file:///opt/spinnaker/plugins/plugins.json
          #url: https://raw.githubusercontent.com/OpsMx/spinnakerPluginRepository/v3.10.0/plugins.json
{{- end }}
spring.cloud.vault.enabled: {{ .Values.vault.enterpriseEdition }}
allowUnauthenticatedAccess:
  agentAPI: {{ .Values.gate.config.agentAPI }}
  webhooks: {{ .Values.gate.config.webhooks }}

logging:
  level:
    com.netflix.spinnaker.gate.security: INFO
    org.springframework.security: INFO
    org.springframework.web: INFO
    #com.netflix.spinnaker.gate.security: DEBUG
    #org.springframework.security: DEBUG
    #org.springframework.web: DEBUG
