services:
  opsmx:
    baseUrl: http://oes-sapor:8085
    enabled: true
  autopilot:
    baseUrl: http://oes-autopilot:8090
    enabled: true
  platform:
    baseUrl: http://oes-platform:8095
    userGroupApiPath: /platformservice/v1/users/{username}/usergroups/importAndCache
    enabled: true
  dashboard:
    baseUrl: http://oes-dashboard:8094
    enabled: true
  visibility:
    baseUrl: http://oes-visibility:8096
    enabled: true
  oesui:
  {{- if .Values.oesUI.port }}
    externalUrl: {{ .Values.oesUI.protocol }}://{{ .Values.oesUI.host }}:{{ .Values.oesUI.port }}
  {{- else }}
    externalUrl: {{ .Values.oesUI.protocol }}://{{ .Values.oesUI.host }}
  {{- end }}
  user: {}
cors:
  allowed-origins-pattern: ^https?://(?:localhost|{{ .Values.oesUI.host }}|opsmx.com)(?::[1-9]\d*)?/?
ldap:
  enabled: {{ .Values.ldap.enabled }}
  managerDn: {{ .Values.ldap.managerDn }}
  groupSearchBase: {{ .Values.ldap.groupSearchBase }}
  groupSearchFilter: {{ .Values.ldap.groupSearchFilter }}
  userDnPattern: {{ .Values.ldap.userDnPattern }}
{{- if (eq .Values.secretStore "db") }}
  url: {{ tpl .Values.ldap.url . }}
  managerPassword: {{ .Values.ldap.managerPassword }}
{{- end }}
{{- if .Values.gate.config.saml.enabled }}
saml:
{{ toYaml .Values.gate.config.saml | indent 2 }}
{{- end }}
{{- if .Values.gate.config.oauth2.enabled }}
oauth2:
{{ toYaml .Values.gate.config.oauth2 | indent 2 }}
{{- end }}
file:
  enabled: {{ .Values.gate.config.fileBasedAuthentication.enabled }}
  url: /platformservice/v1/users/authenticate
authn:
  mode: session
google: {}
logging:
  level:
    com.netflix.spinnaker.gate.security: INFO
    org.springframework.security: INFO
    org.springframework.web: INFO
redis:
  connection: {{ tpl .Values.redis.url . }}
server:
  session:
    timeoutInSeconds: {{ .Values.gate.config.server.session.timeoutInSeconds }}
  tomcat:
    protocolHeader: X-Forwarded-Proto
    remoteIpHeader: X-Forwarded-For
    internalProxies: .*

