services:
  opsmx:
    baseUrl: http://oes-sapor:8085
    enabled: true
  autopilot:
    baseUrl: http://oes-autopilot:8090
    enabled: true
  platform:
    baseUrl: http://oes-platform:8095
    userGroupApiPath: /platformservice/v1/users/{username}/usergroups/importAndCache
    enabled: true
  dashboard:
    baseUrl: http://oes-dashboard:8094
    enabled: true
  visibility:
    baseUrl: http://oes-visibility:8096
    enabled: true
  user: {}
cors:
  allowed-origins-pattern: ^https?://(?:localhost|{{ .Values.oesUI.hostname }}|opsmx.com)(?::[1-9]\d*)?/?
ldap:
  enabled: {{ .Values.ldap.enabled }}
  url: {{ tpl .Values.ldap.url . }}
  userDnPattern: {{ .Values.ldap.userDnPattern }}
file:
  enabled: {{ .Values.gate.config.fileBasedAuthentication.enabled }}
  url: /platformservice/v1/users/authenticate
authn:
  mode: session
google: {}
logging:
  level:
    com.netflix.spinnaker.gate.security: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
redis:
  connection: {{ tpl .Values.redis.url . }}
oesui:
{{- if .Values.oesUI.port }}
  externalUrl: {{ .Values.oesUI.protocol }}://{{ .Values.oesUI.hostname }}:{{ .Values.oesUI.port }}
{{- else }}
  externalUrl: {{ .Values.oesUI.protocol }}://{{ .Values.oesUI.hostname }}
{{- end }}
server:
  session:
    timeoutInSeconds: {{ .Values.gate.config.server.session.timeoutInSeconds }}
