{{- if or (eq .Values.installationMode "OES-AP")  (eq .Values.installationMode "EASY") -}}
apiVersion: v1
stringData:
  application.yml: |
    {{- tpl (.Files.Get "config/oes-sapor/application.yml") . | nindent 4 }}
  client.p12: |
    {{- tpl (.Files.Get "./client.p12") . | nindent 4 }}
kind: Secret
metadata:
  name: oes-sapor-config
  labels:
    app: oes
    component: sapor
{{ include "oes.standard-labels" . | indent 4 }}
{{- end -}}
