{{ if .Values.spinnaker.gitopsHalyard.enabled }}
apiVersion: v1
data:
  # Repo uri to fetch halyard configuration
  gitcloneparam: https://<gituserID>:<gittoken>@github.com/opsmx/gitops-haldir.git # In base64 format

  # Repo details to fetch dynamic configuration
  dynamicaccountsgituri: https://github.com/OpsMx/gitops-accounts-sample.git # In base64 format
  gittoken: <gittoken>
  gituser: <gituserID>
  s3accesskey: <S3_ACCESSKEY>
  s3secretkey: <S3_SECRETKEY>
kind: Secret
metadata:
  name: opsmx-gitops-auth
type: Opaque
{{ end }}
