{{ if .Values.spinnaker.gitopsHalyard.enabled }}
apiVersion: v1
stringData:
  # Repo uri to fetch halyard configuration
  gitcloneparam: https://{{ .Values.spinnaker.gitopsHalyard.repo.username }}:{{ .Values.spinnaker.gitopsHalyard.repo.token }}@github.com/{{ .Values.spinnaker.gitopsHalyard.repo.organization }}/{{ .Values.spinnaker.gitopsHalyard.repo.halRepository }}.git

  # Repo details to fetch dynamic configuration
  dynamicaccountsgituri: https://github.com/{{ .Values.spinnaker.gitopsHalyard.repo.organization }}/{{ .Values.spinnaker.gitopsHalyard.dynamicAccRepository }}.git
  gituser: {{ .Values.spinnaker.gitopsHalyard.repo.username }}
  gittoken: {{ .Values.spinnaker.gitopsHalyard.repo.token }}
kind: Secret
metadata:
  name: {{ .Values.spinnaker.gitopsHalyard.secretName }}
type: Opaque
{{ end }}