{{ if .Values.spinnaker.gitopsHalyard.enabled }}
apiVersion: v1
stingData:
  # Repo uri to fetch halyard configuration
  gitcloneparam: https://<gituserID>:<gittoken>@github.com/opsmx/gitops-haldir.git

  # Repo details to fetch dynamic configuration
  dynamicaccountsgituri: https://github.com/OpsMx/gitops-accounts-sample.git
  gittoken: <gittoken>
  gituser: <gituserID>
kind: Secret
metadata:
  name: opsmx-gitops-auth
type: Opaque
{{ end }}
